language: node_js
env:
    global:
        - ENCRYPTION_LABEL: 98a7d362e1e4
node_js:
    - stable
addons:
    browserstack:
        username: "bertrandberthelo1"
        access_key:
            secure: "ZPgCkVlmzP1pSgC9UF5WhZioV//c8QG6LlMqhWa96LjPlybNX12QY/mfzY9QvEC4qYCkeHKg/OKPm2pNF/7QuW76Zf6hJ80W3pLH+lGCuNQ+uywk5QvV95nYLWp+fIes5DKqdnGPhF4Ft/Ggkq4NlGAwpRID2P7Sxz1V4ARF/qY="
before_install:
    - openssl aes-256-cbc -K $encrypted_98a7d362e1e4_key -iv $encrypted_98a7d362e1e4_iv -in travis_deploy.enc -out travis_deploy -d
    - npm install -g gulp
    - chmod 600 travis_deploy
    - eval `ssh-agent -s`
    - ssh-add travis_deploy
install:
    - npm install
script:
    - npm run build
    - npm run deploy
#after_success:
#    - npm test
